<fieldset>
  <h2 class="fs-title">Incident Bar's Strain Gauge Properties</h2>
  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_straingauge_name"
      type="text"
      id="I_straingauge_name"
      class="form-control"
    />
    <span class="floating-label">Name</span>
  </div>
  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_straingauge_resistance"
      type="number"
      step="0.001"
      id="I_straingauge_resistance"
      class="form-control"
    />
    <span class="floating-label">Resistance [Ohm]</span>
  </div>
  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_Voltage_calibrated"
      type="number"
      step="0.001"
      id="I_Voltage_calibrated"
      class="form-control"
    />
    <span class="floating-label">Voltage_calibrated [v]</span>
  </div>
  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_gauge_factor"
      type="number"
      step="0.001"
      id="I_gauge_factor"
      class="form-control"
    />
    <span class="floating-label">Gauge Factor</span>
  </div>

  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_distance"
      type="number"
      step="0.001"
      id="I_distance"
      class="form-control"
    />
    <span class="floating-label">Distance to Specimen (m)</span>
  </div>

  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_shunt_resistance"
      type="number"
      step="0.001"
      id="I_shunt_resistance"
      class="form-control"
    />
    <span class="floating-label">Shunt Resistance</span>
  </div>
  <div class="form-card">
    <input
      oninput="this.className='form-control'"
      name="I_Length"
      type="number"
      step="0.001"
      id="I_Length"
      class="form-control"
    />
    <span class="floating-label">Length [m]</span>
  </div>
</fieldset>
