<fieldset>
  <h2 class="fs-title">Bar Properties</h2>
  <div class="form-group">
    <select
      name="material"
      oninput="this.className='form-control'"
      id="material"
      class="form-control"
    ></select>
  </div>
  <div class="form-group">
    <label for="incidentbar_diameter">Diameter [m]</label>
    <input
      oninput="this.className='form-control'"
      name="incidentbar_diameter"
      type="number"
      step="0.001"
      id="incidentbar_diameter "
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="incidentbar_Length">Length [m]</label>
    <input
      oninput="this.className='form-control'"
      name="incidentbar_Length"
      type="number"
      step="0.001"
      id="incidentbar_Length"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="incidentbar_PR">Poisson's Ratio</label>
    <input
      oninput="this.className='form-control'"
      name="incidentbar_PR"
      type="number"
      step="0.001"
      id="incidentbar_PR"
      value="0.33"
      class="form-control"
    />
  </div>
</fieldset>

<script>
  let dropdown = $("#material");

  dropdown.empty();
  dropdown.append(
    '<option value="" selected="true" disabled>Choose Bar Material</option>'
  );
  dropdown.prop("selectedIndex", 0);

  const url = "{{url_for('static',filename='js/material.json')}}";

  // Populate dropdown with list of provinces
  $.getJSON(url, function (data) {
    $.each(data, function (key, entry) {
      dropdown.append($("<option></option>").attr("value", key).text(key));
    });
  });
</script>
