{%extends "base.html"%} {% block content %}

<div class="layout">
  <div class="row links">
    <div class="col-sm-4">
      <a href="{{ url_for('shpb.shpb') }}">
        <i class="fa fa-bullseye fa-5x"></i><br />
        <h4 class="pt-4">SHPB</h4>
      </a>
    </div>

    <div class="col-sm-4">
      <a href="/dc">
        <i class="fa fa-object-group fa-5x"></i><br />
        <h4 class="pt-4">Dynamic Calibration</h4>
      </a>
    </div>

    <div class="col-sm-4">
      <a href="#">
        <i class="fa fa-spinner fa-5x"></i><br />
        <h4 class="pt-4">External Aerodynamics</h4>
      </a>
    </div>
  </div>
</div>
{% endblock %}
