<fieldset>
    <h2 class="fs-title">Transmission bar Properties </h2>
    <div class="form-card">
       
        <input oninput="this.className=''" name="transmission_name" type="text" id="transmission_name" class="form-control" />
        <span class="floating-label">Name</span>
        
    </div> 
    <div class="form-card">

        <input oninput="this.className=''" name="transmission_density" type="number" step="0.001" id="transmission_density" class="form-control" />
        <span class="floating-label">Denstiy [g/cc]</span>
        
    </div> 
    <div class="form-card">

        <input oninput="this.className=''" name="transmission_diameter" type="number" step="0.001" id="transmission_diameter" class="form-control" />
        <span class="floating-label">Diameter [m]</span>
        
    </div> 
    <div class="form-card">

        <input oninput="this.className=''" name="transmission_yield" type="number" step="0.001" id="transmission_yield" class="form-control" />
        <span class="floating-label">Yield [Mpa]</span>
        
    </div> 
    <div class="form-card">

        <input oninput="this.className=''" name="transmission_Length" type="number" step="0.001" id="transmission_Length" class="form-control" />
        <span class="floating-label">Length [m]</span>
        
    </div> 
    <div class="form-card">

        <input oninput="this.className=''" name="transmission_PR" type="number" step="0.001" id="transmission_PR" value="0.33" class="form-control" />
        <span class="floating-label">Poisson's Ratio</span>
        
    </div> 
    <!-- <input oninput="this.className=''" name="transmission_" type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
    <input oninput="this.className=''" name="transmission_" type="button" name="next" class="next action-button" value="Next Step" /> -->
</fieldset>